<!DOCTYPE html>

<html>
<head>
	
	<meta charset="ISO-8859-1">
	<title>Popcorn</title>
	<script type="text/javascript">

	var ws = null;
	var username = '';
	var isLocal = 0;
	var movieQueue = new Array();
	$(document).ready(function() {
		
		if (isLocal == 1){
			username = "Raouf";
		}
		console.log(username);
		while(username.length === 0)
			username = prompt('Please enter your name', username) || '';


		if (isLocal == 1){
			ws = new WebSocket('ws://172.26.4.89:8080/');
		}
		else{
			ws = new WebSocket('ws://shmed-popcorn.jit.su');
		}
		

		ws.onopen = function() {
			ws.send(JSON.stringify({ username: username, message: ' is now online.' }));
		};

		ws.onmessage = function(e) {
			var el = $('#chat');

			var value = JSON.parse(decodeURIComponent(e.data)).message;
			var username = JSON.parse(decodeURIComponent(e.data)).username;
			if(value.indexOf("http") != -1 || value.indexOf("www.") != -1)
			{
				movie = getVideoID(value);
				movieQueue.push(movie);
				$("#video").html("<iframe width='100%' height='500' src='//www.youtube.com/embed/"+movie+"?rel=0&autoplay=1' frameborder='0' allowfullscreen></iframe>");
				value = " shared a video.";
			}

			el.append('<div>' + username + ": " + value + '</div>');
			el.scrollTop = el.scrollHeight;
		};

		window.onunload = function() {
			ws.close();
		};

		$('#message').bind('keypress', function(e) {

			if (e.keyCode !== 13)
				return;

			var value = this.value;
			ws.send(JSON.stringify({ message: value }));
			this.value = '';

		});

	});

	//extracts the video ID from a Youtube link
	var getVideoID = function(input)
	{
		return input.substring(input.length - 11);
	};
	</script>
</head>
<body>
        <h1>Popcorn</h1>
        <div id="mainview">
            <div id="mainarea">
            	<div id="video">
            	</div>
            	<div id="queue">
            	</div>
            </div>
            <div id="sidearea">
				<div id="chat">
				
				</div>
				<input type="text" id="message" placeholder="Talk here, or share a video!" />
            </div>
       	</div>
       	<div id="lowerarea"><p id="masthead">Code and design by Raouf Merouche & Mohamed Adam Chaieb</p></div>
</body>
</html>
