<!DOCTYPE html>

<html>
<head>
	
	<meta charset="ISO-8859-1">
	<title>Popcorn</title>
	<script type="text/javascript" src="swfobject/src/swfobject.js"></script>
	<script type="text/javascript">

	var ws = null;
	var username = '';
	var isLocal = 0;
	var movieQueue = new Array();

	var video_id = "XqWig2WARb0";
	

	

	$(document).ready(function() {
		
		if (isLocal == 1){
			username = "Raouf";
		}
		console.log(username);
		while(username.length === 0)
			username = prompt('Please enter your name', username) || '';


		if (isLocal == 1){
			ws = new WebSocket('ws://172.26.4.89:8080/');
		}
		else{
			ws = new WebSocket('ws://shmed-popcorn.jit.su');
		}
		

		ws.onopen = function() {
			ws.send(JSON.stringify({ username: username, message: ' is now online.' }));
		};

		ws.onmessage = function(e) {
			var el = $('#chat');

			var value = JSON.parse(decodeURIComponent(e.data)).message;
			var username = JSON.parse(decodeURIComponent(e.data)).username;
			if(value.indexOf("http") != -1 || value.indexOf("www.") != -1)
			{
				movie = getVideoID(value);
				value = " shared a video.";

				movieQueue.push(movie);
				//startVideo(movie);
				if (movieQueue.length == 1)
					playNextVideo();

				updateVideoQueue();
			}

			el.append('<div>' + username + ": " + value + '</div>');
			el.scrollTop = el.scrollHeight;
		};

		window.onunload = function() {
			ws.close();
		};

		$('#message').bind('keypress', function(e) {

			if (e.keyCode !== 13)
				return;

			var value = this.value;
			ws.send(JSON.stringify({ message: value }));
			this.value = '';

		});

	});

	//extracts the video ID from a Youtube link
	var getVideoID = function(input)
	{
		return input.substring(input.length - 11);
	};
	var updateVideoQueue = function(input)
	{
		$("#queue").html("");
		for (var i = 0; i < movieQueue.length; i++) {

			$("#queue").html($("#queue").html() + "<img width='160' height='120' src='http://img.youtube.com/vi/"+ movieQueue[i] + "/0.jpg'/><br />");
		}
	};
	var startVideo = function(video_id)
	{
		var player_id = "video";
		var params = { allowScriptAccess: "always" };
		var url = "http://www.youtube.com/e/" + video_id + "?enablejsapi=1&autoplay=1&playerapiid=" + player_id;
		swfobject.embedSWF(url, player_id, '480', '390', "9.0.0", null, null, params, {'id': player_id});

		var player = null;

	};

	var playNextVideo = function()
	{
		if (movieQueue.length > 0)
		{
			startVideo(movieQueue[0]);
			
		}
	};

	function onYouTubePlayerReady(player_id) {
	  player = document.getElementById(player_id);
	  player.addEventListener('onStateChange', 'playerFinished');
	};

	function playerFinished(response) {
	  // response 0 means playback is finished
	  if (response == 0) {
	  	if (movieQueue.length > 0)
		{
	  		movieQueue.splice(0, 1);
	  		updateVideoQueue();
	  	}
	    playNextVideo();
	  }
	};
	</script>
</head>
<body>
        <h1><img src="img/popcorn.png" /></h1>
        <div id="mainview">
           
            <div id="sidearearight">
				<div id="chat">
				
				</div>
				<input type="text" id="message" placeholder="Talk here, or share a video!" />
            </div>
            <div id="sidearealeft">
            	<div id="queue">
            	</div>
        	</div>

        	 <div id="mainarea">
            	<div id="video">
            	</div>
            	
            </div>

       	</div>
       	<div id="lowerarea"><p id="masthead">Code and design by Raouf Merouche & Mohamed Adam Chaieb</p></div>
</body>
</html>
